<div class="container rol-1" >
    <div class="col-5">
        <form action="">
            <div class="wrap-input">
                <div class="form-group">
                    <input class="input" type="text" name="first_Name" placeholder="Your first names">
                    <div class="error-hint hidden">Your first name is required.</div>
                </div>
            </div>
            <div class="wrap-input">
                <div  class="form-group">
                    <input class="input" type="text" name="last_Name" placeholder="Your last name">
                    <div class="error-hint hidden">Your last name is required.</div>
                </div>
            </div>

            <div class="wrap-input">
                <div  class="form-group">                                       
                    <input class="input" type="email" name="Email" placeholder="Your email address">
                    <div class="error-hint hidden">Please enter a valid email: xyz@you.com</div>
                </div>
            </div>

            <div class="wrap-input">
                <textarea class="input" name="message" placeholder="Your Comment..."></textarea>
                <div class="error-hint hidden">Message required.</div>
            </div>

            <div class="g-recaptcha" data-sitekey="6LfleI8eAAAAAPCktCAucsKg0QgVssOWZjW_8L-R" 
                data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error"></div>
         
            <div class="container-contact-form-btn">
                <button class="contact-form-btn">
                  <span>Send Message</span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-4">
        
    </div>
</div>
