<footer>
    <div class="footer-top container">
        <p style="font-size: 20px;">Social media</p>
        <a href=""><i class="bi bi-instagram" style="font-size: 30px;" aria-hidden="true"></i></a>
        <a href=""><i class="bi bi-linkedin" style="font-size: 30px;"></i></a>
        <a href=""><i class="bi bi-github" style="font-size: 30px;"></i></a>
    </div>
    <div class="footer-bootom" >
        <p>&copy; Copyright <b>E.N.M</b> All rights reserved<br>Created by Excellent Nhlanhla Mashengete</p>
    </div>
</footer>