footer{
    background-color: #303036;
}
footer .footer-top{
    color: #d3d3d3;
    text-align: center;
}
.footer-top i{
    margin-left: 20px;
    color: white;
}
footer .footer-bootom p{
    text-align: center;
    bottom: 0;
    background: #343a40;
    color: whitesmoke;
}